<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>로그인 페이지</title>
</head>
<body>
    <h2>로그인</h2>
    <form action="/toyboard/user/login" method="post">
        <div>
            <label for="username">아이디:</label>
            <input type="text" id="username" name="us_id" />
        </div>
        <div>
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="us_pw" />
        </div>
        <button type="submit">로그인</button>
        <a href="/toyboard/user/register"><button type="button">회원가입</button></a>
    </form>
</body>
</html>
