<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/toyboard/user/register" method="post">
        <label for="us_id">아이디:</label>
        <input type="text" id="us_id" name="us_id" required><br><br>

        <label for="us_pw">비밀번호:</label>
        <input type="password" id="us_pw" name="us_pw" required><br><br>

        <label for="us_nickname">닉네임:</label>
        <input type="text" id="us_nickname" name="us_nickname" required><br><br>

        <input type="submit" value="회원가입">
    </form>
</body>
</html>