<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

    <!-- index.html -->
	<th:block layout:fragment="css">
	    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	</th:block>
	<!-- index.html  -->
	<th:block layout:fragment="script">
	    <!--    <script th:src="@{/js/page/home.js}"></script>-->
	</th:block>

	<div layout:fragment="content">
	   <a th:href="@{/user/login}">로그인</a>
	
		<a th:href="@{/user/register}">회원가입</a>
		
		<a th:href="@{/board/list}">게시판</a>
    </div>
</html>
