<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/htymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>자유 게시</title>
	<!-- <meta name="viewport" 
	content="width=device-width, maximun-scale=1.0, minimun-scale=1, user-scalable=yes, initial-scale=1.0"/>
	 -->
	<!-- 콘텐츠 스크립트 -->
	<!-- <th:block layout:fragment="css"></th:block> -->
	
	<!-- 콘텐츠 스크립트 -->
<!-- 	<th:block layout:fragment="script"></th:block>
 --></head>
<body>
	<!-- 적용할 프레그먼트 -->
	<!-- 헤더 -->
	<th:block th:replace="fragments/header :: headerFragment"></th:block>
	<!-- 콘텐츠 -->
	<th:block layout:fragment="content"></th:block>
	<!-- 푸터 -->
	<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>
</html>