<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

    <!-- index.html -->
	<th:block layout:fragment="css">
	    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	</th:block>
	<!-- index.html -->
	<th:block layout:fragment="script">
	    <!--    <script th:src="@{/js/page/home.js}"></script>-->
	</th:block>

	<div layout:fragment="content">
	   
    </div>
</html>
